@font-face {
	 font-family: 'Brittany';
	 src: url('../fonts/brittany_2/brittany.ttf') format('truetype');
}
 * {
	 margin: 0;
	 padding: 0;
	 font-family: 'Montserrat';
}
 html, body {
	 width: 100%;
	 height: 100%;
}
 main {
	 display: flex;
	 align-items: center;
	 justify-items: center;
	 width: 100%;
	 height: 100%;
	 max-height: 100%;
	 background: linear-gradient(158deg, #174365, #a2e8d8);
	 overflow: hidden;
}
 main .img {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 overflow: hidden;
}
 main .img__waveRoll--1 {
	 position: absolute;
	 right: -220px;
	 top: -350px;
}
 main .img__waveRoll--2 {
	 position: absolute;
	 left: -200px;
	 bottom: -300px;
	 rotate: 30deg;
}
 main .img__wave1 {
	 position: absolute;
	 top: -300px;
	 left: -150px;
}
 main .img__wave2 {
	 position: absolute;
	 bottom: -250px;
	 right: -200px;
}
 main .img__wave3 {
	 position: absolute;
	 top: -150px;
	 left: -150px;
}
 main .img__wave4 {
	 position: absolute;
	 bottom: -100px;
	 right: -150px;
}
 main .waiter {
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 height: 100%;
	 text-align: center;
	 gap: 10px;
}
 main .waiter__text {
	 font-family: inherit;
	 color: white;
}
 main .waiter__text--logo {
	 font-family: 'Brittany';
	 font-size: 5em;
	 padding-bottom: 20px;
}
 main .waiter__text--mainText {
	 width: 400px;
}
 main .waiter__text--mainText .roller {
	 height: 4.125rem;
	 line-height: 4rem;
	 position: relative;
	 overflow: hidden;
	 width: 100%;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 main .waiter__text--mainText .roller #rolltext {
	 position: absolute;
	 top: 0;
	 animation: slide 10s infinite;
	 font-size: 4em;
	 text-shadow: 4px 3px 2px rgba(115, 153, 165, 0.7);
	 color: white;
}
 @keyframes slide {
	 0% {
		 top: 0;
	}
	 30% {
		 top: -4rem;
	}
	 50% {
		 top: -8rem;
	}
	 80% {
		 top: -12rem;
	}
}
 main .waiter__text--descText {
	 font-size: 1em;
}
 main .waiter__social {
	 color: white;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 gap: 25px;
	 padding-top: 20px;
	 z-index: 20;
}
 main .waiter__social--links {
	 display: flex;
	 gap: 20px;
}
 main .waiter__social i {
	 cursor: pointer;
	 z-index: 19;
	 color: white;
}
 main .waiter__social i a {
	 position: relative;
	 width: 28px;
	 height: 28px;
	 left: -28px;
	 top: 14px;
	 cursor: pointer;
	 z-index: 21;
}
 @media (max-width: 768px) {
	 .img__waveRoll--1 {
		 transform: scale(60%);
	}
	 .img__wave1 {
		 transform: scale(60%) translate(-20%);
	}
	 .img__wave3 {
		 transform: scale(60%) translate(-30%, -30px);
	}
	 .img__waveRoll--2 {
		 transform: scale(60%);
	}
	 .img__wave2 {
		 transform: scale(60%) translate(20%);
	}
	 .img__wave4 {
		 transform: scale(60%) translate(30%, 30px);
	}
}
 @media (max-width: 425px) {
	 .img__wave1 {
		 transform: scale(40%) translate(-30%);
	}
	 .img__wave3 {
		 transform: scale(45%) translate(-40%, -20%);
	}
	 main .waiter__text--mainText .roller #rolltext {
		 font-size: 2.75em;
	}
	 .img__waveRoll--2 {
		 transform: scale(55%) translate(-10%);
	}
	 .img__wave2 {
		 transform: scale(40%) translate(25%);
	}
	 .img__wave4 {
		 transform: scale(40%) translate(35%, 35%);
	}
}
 @media (max-width: 370px) {
	 .img__wave1 {
		 transform: scale(20%) translate(-100%, 30%);
	}
	 .img__wave3 {
		 transform: scale(25%) translate(-80%, -55%);
	}
	 .img__waveRoll--2 {
		 transform: scale(50%);
	}
	 .img__wave2 {
		 transform: scale(35%) translate(25%);
	}
	 .img__wave4 {
		 transform: scale(35%) translate(35%, 35%);
	}
	 .img__waveRoll--2 {
		 transform: scale(50%);
	}
	 .img__wave2 {
		 transform: scale(35%) translate(25%, 20%);
	}
	 .img__wave4 {
		 transform: scale(35%) translate(45%, 65%);
	}
}
 @media (max-width: 300px) {
	 .img__wave1 {
		 transform: scale(20%) translate(-100%, 20%);
	}
	 .img__wave3 {
		 transform: scale(25%) translate(-80%, -70%);
	}
	 .img__waveRoll--2 {
		 transform: scale(50%);
	}
	 .img__wave2 {
		 transform: scale(25%) translate(55%, 10%);
	}
	 .img__wave4 {
		 transform: scale(25%) translate(80%, 80%);
	}
}
 